@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');

html, body {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #eee;
    font-family: 'Source Code Pro', monospace;
    font-size: 10em;
}
